@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@200;300;400;500&family=Lexend:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Roboto:wght@100;300;400;500;700;900&family=Squada+One&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}
.form_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  margin-top: 8px;
}

/* left side of the screen */
.left-side {
  width: 50%;
}
.left-side img {
  width: 80%;
  height: 85%;
  position: relative;
  left: 5rem;
  top: 3rem;
}

/* right side of the screen */
.right-side {
  width: 50%;
}
.right-side .logo {
  display: flex;
  flex-direction: row;
}

.right-side h3,
.tag {
  position: relative;
  left: 3rem;
}
.tag {
  font-family: poppins;
  font-weight: 500;
  font-size: 14px;
}
.right-side h3 {
  font-family: poppins;
  font-size: 20px;
  font-weight: 800;
  color: rgb(59, 10, 10);
}

/* glca icon .....top right*/
.logo ul li {
  display: inline-block;
  margin: 0px;
  position: relative;
  top: 1.6rem;
}
.bi-bi-slash1 {
  position: relative;
  right: 0.8rem;
  color: purple;
}
.bi-bi-slash-lg {
  position: relative;
  right: 13rem;
  color: orange;
}
.bi-bi-slash {
  position: relative;
  right: 7rem;
  top: 0.2rem;
  color: black;
}

h6 {
  position: relative;
  right: 36.8%;
  top: 1.5rem;
  font-family: poppins;
  font-size: 12px;
  font-weight: 600;
}

/* all form inputs */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 390px;
  height: 20px;
  margin: 15px;
  padding: 3px;
  color: rgb(151, 149, 149);
  border-radius: 5px;
  border: 1px solid grey;
  font-family: poppins;
  font-size: 10px;
}
.password {
  display: flex;
  flex-direction: row;
}
.password p {
  position: relative;
  right: 37%;
  top: -1rem;
  font-family: poppins;
  font-size: 12px;
  border-bottom: 2px solid gray;
}

/* forgot password & remember password */
#checkbox {
  margin: 0;
  position: relative;
  right: 25%;
}
#rempass {
  position: relative;
  right: 51%;
  top: -0.01rem;
  font-family: poppins;
  font-size: 12px;
  font-weight: 400;
}
.form svg {
  position: relative;
  right: 3rem;
  top: 0.2rem;
  color: rgb(133, 68, 68);
}
.label1,
.label2 {
  position: relative;
  top: 1rem;
  left: 1rem;
  font-family: poppins;
  font-size: 12px;
  font-weight: 400;
}

/* button */

.btn img {
  width: 50px;
  height: 10px;
}
.btn {
  width: 390px;
  height: 37px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid grey;
  padding-bottom: 4px;
  position: relative;
  left: 1rem;
}
.btn a {
  font-family: poppins;
  font-size: 10px;
  font-weight: 600;
  color: gray;
}

.btn1 {
  background-color: rgb(59, 2, 59);
  height: 28px;
  width: 390px;
  color: white;
  border: 1px solid rgb(59, 2, 59);
  border-radius: 5px;
  position: relative;
  left: 1.2rem;
  font-family: poppins;
  font-size: 10px;
}

/* hr styling */
.hr {
  display: flex;
  flex-direction: row;
}
hr {
  width: 28%;
  height: 21%;
}
.hr1 {
  position: relative;
  right: 3rem;
  top: 2rem;
}
.hr2 {
  position: relative;
  right: 9.8rem;
  top: 2rem;
}
.hr h5 {
  position: relative;
  right: 6.4rem;
  top: 0.6rem;
  font-family: poppins;
  font-size: 12px;
  color: gray;
}

small {
  position: relative;
  right: 18%;
  top: 1rem;
  font-family: poppins;
  font-size: 10px;
  color: gray;
}
small a {
  color: purple;
}

/* media querries */

@media screen and (max-width: 1025px) and (min-width: 769px) {
  .form_container {
    height: 80vh;
    width: 100%;
    position: relative;
    top: 10rem;
  }
  .left-side img {
    height: 65%;
  }
  .logo h6 {
    position: relative;
    right: 16rem;
    font-size: 14px;
  }
  hr {
    width: 30%;
  }
  .hr1 {
    position: relative;
    left: 0.6rem;
  }
  .hr2 {
    position: relative;
    right: 5rem;
  }
  .hr h5 {
    position: relative;
    left: -2.2rem;
    font-size: 14px;
    color: black;
  }
  .password p {
    position: relative;
    left: -7rem;
  }
}

/*downward not perfect yet  */

@media screen and (max-width: 768px) and (min-width: 481px) {
  body {
    background-color: red;
  }
  .form_container {
    position: relative;
    top: 10rem;
  }
  .left-side img {
    height: 60%;
  }
  .hr {
    position: relative;
    left: 7rem;
  }
  .hr1 {
    margin-left: 10px;
  }
  .hr h5 {
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: 6rem;
  }
  #checkbox {
    height: 20px;
    right: 2rem;
  }
  .password p {
    left: 5px;
  }
  input,
  .btn1,
  .btn {
    width: 300px;
    height: 40px;
    position: relative;
    left: 2rem;
  }
  .label1,
  .label2 {
    position: relative;
    left: 2.8rem;
    font-size: 15px;
  }
  .btn,
  .btn1 {
    position: relative;
    left: 3rem;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  body {
    background-color: bisque;
  }

  .form_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .left-side img {
    width: 170%;
    height: 120%;
    position: relative;
    right: 3rem;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10rem;
  }
}
