*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
body{
    width: 100%;
    height: 100;
}
main{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
}
header main img{
    width: 15%;
    position: absolute;
    top: -40px;
    left: 25px;
}
.icon{
    position: absolute;
    top: 40px;
    left: 75rem;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}
nav{
    display: flex;
    justify-content: center;
}
nav a{
    margin-top: 60px;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

footer{
    width:100%;
    background-color: #EFEFEE;
    color: #678398;
    height: 250px;
    
    margin-top: -18px;
}
.footer-content{
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
}
.first{
    margin-left: 4rem;
    padding-top: 50px;
}
.first img{
    position: absolute;
    top: 25px;
    left: 25px;
}
footer a{
    text-decoration: none;
    color: #678398;
}
.second{
    margin-left: 15rem;
}
.third{
    margin-left: 10rem;
    margin-right: 10rem;
}
.second h4, .third h4, .last h4{
    margin-bottom: 10px;
    color: #000000;
}
.icons{
    display: flex;
    gap: 25px;
    padding-top: 25px;
}
.icons i{
    font-size: 20px;
}
#close{
    display: none;
}
@media screen and (max-width: 980px){
    header main img{
        width: 70%;
        left: -20px;
        top: -70px;
    }
    .icon{
        top: 32px;
        left: 18rem;
    }
    .icons{
        padding-top: 10px;
    }
    .first{
        margin-bottom: 25px;
        margin-left: 2rem;
    }
    .first img{
        top: -50px;
        width: 50%;
        left: 0px;
    }
    .footer-content{
        display: block;
        height: 55vh;
    }
    .second, .third, .last{
        margin-left: 2rem;
        margin-bottom: 15px;
    }
    .second h4, .third h4, .last h4{
        margin-bottom: 5px;
    }
    nav{
        display: none;
    }
    nav a{
        /* width: 100%; */
        display: block;
        margin-left: 20px;
    }
}
