@import url('https://fonts.googleapis.com/css?family=Poppings:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #D3BECD;
}

.nav div.main_list {
    height: auto;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #000000;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,8,30,0.7),rgba(4,9,30,0.7)),url(img/union.png);
    background-position: center;
  	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #D3BECD;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #663158;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #EFEFEE;
}


.myH2 {
  padding-top: 5rem;
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

.connect {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4,8,30,0.7),rgba(4,9,30,0.7)),url(img/connect.png);
  background-position: center;
  background-size:cover;
}

/*--------------------social-------------*/

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    padding-top: 10%;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff solid;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    margin-right: 1rem;
    background-color: #095ac4;
}
.fa-whatsapp {
  padding:10px 14px;
  margin-right: 1rem;
  background-color: #089b39;
}
.fa-twitter {
    padding:10px 12px;
    margin-right: 1rem;
    background-color: #00aced;
}

.fa-instagram {
    padding:10px 14px;
    margin-right: 1rem;
    background-color: #db0909;
}
.fa-youtube {
    padding:10px 14px;
    margin-right: 1rem;
    background-color: #e64a41;
}

.fa-linkedin {
    padding:10px 14px;  
    margin-right: 1rem;
    background-color: #0073a4;
}

.fa-github {
    padding:10px 14px;
    margin-right: 1rem;
    background-color: #5a32a3;
}


/*-------------organisation-----------*/

.org {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,8,30,0.7),rgba(4,9,30,0.7)),url(img/us.png);
    background-position: center;
    background-size:cover;
  }

  .abt{
    color: #807183;
    font-weight: 900;
    padding-left: 3rem;
    padding-top: 5rem;
    text-align:left;
    font-size: 4rem;
  }

  .H3{
    padding-top: 2rem;
    text-align:left;
    font-size: 4rem;
    padding-left: 3rem;
    
      
  }

  .p
    {
    text-align: left;
    padding-right:10%;
    font-size: 32px;
    color: #807183;
    line-height: 300%;
    }

    * {
        box-sizing: border-box;
      }
      
      /* Create two equal columns that floats next to each other */
      .column {
        float: left;
        width: 50%;
        line-height: 300%;
        padding-left: 3rem;
        text-align:left;
        height: 200px;
    
      }

      .post{
        padding-top: 5rem;
        font-size: 4rem;
      }
      .office{
        text-align: left;
        padding-right:10%;
        font-size: 28px;
        color: #807183;
        line-height: 150%;
        padding-top: 5rem;
    }
    .tiny{
        text-align: left;
        padding-right:10%;
        font-size: 18px;
        line-height: 150%;
        padding-top: 5rem;
    }
    .office c{
        text-align: left;
        padding-right:10%;
        font-size: 16px;
        color: #000000;
        line-height: 100%;
        padding-top: 5rem;
    }


    /*------------------kl;h;lkywa n---*/

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.section{
	width: 100%;
	min-height: 100vh;
	
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}

/*----------- COLLEGE--------------*/






.top {
    
    padding-top: 10%;
    text-align: left;
    font-size: 4rem;
    color: #fff;
    padding-left: 5rem;
  }
.par{
      text-align: left;
      padding-left: 5rem;
      font-size: 20px;
      color: #fff;
      padding-top: 3%;
      line-height: 150%;
}
 .button{
    margin-top: 50px;
    text-align: center;
}
.button a{
	background-color: #663158;
    padding:12px 40px;
	text-decoration: none;
    color:#fff;
    border-radius: 2vh;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.button a:hover{
	background-color: #D3BECD;
	color:rgb(7, 1, 1);
}


.element {
    text-align: left;
    margin: 2%;
    font-size: 18px;
    padding-left: 4%;
    margin-top: 5%;
    border-radius: 2vh;
    padding-top: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    flex:1;
    letter-spacing: .5px;
    
    
  }
.element2 {
    text-align: left;
    background-size: contain;
    font-size: 18px;
    flex:3;
       
  }
.element2a {
    background-image: url(img/all.png);
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2%;
    font-size: 18px;
    padding-left: 4%;
    margin-top: 5%;
    width: 100%;
    height: 150%;
    
  }
.element2b {
   
    text-align: left;
    background-size: contain;
    margin: 2%;
    font-size: 18px;
    padding-left: 4%;
    margin-top: 5%;
    padding-top: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
  
    
  }

  .element a:hover{
    color:rgb(12, 1, 1);
  }
  a.ex2:hover, a.ex2:active {font-size: 150%;}

  .spread { 
      display: flex;
      flex-direction: row;

  }


