/* Forgot Password Page */
*{
    margin: auto;
    width: 95%;
}
body{
    display: flex;
    padding-top: 50px;
}
.right{
    margin-top: 4rem;
}
.right img{
    /* width: 25%; */
    width: 12%;
    position: absolute;
    top: -6px;
    /* margin-right: 100px; */
    /* left: 25px; */
}
.right h2{
    margin-bottom: 2rem;
    padding-left: 20px;
}
.back{
    margin-bottom: 2rem;
    padding-left: 20px;
    /* margin-top: -10rem; */
}
.btn, .btns{
    width: 65%;
    padding: 10px;
    border: 1px solid #8A8A89;
    border-radius: 10px;
    margin-left: 35px;
    margin-bottom: 2rem;
    background-color: #ffffff;
    color: gray;
}
.btn{
    display: flex;
}
.btn i{
    margin-right: -250px;
}
.name, .email{
    padding-left: 10px;
    margin-bottom: 0.5rem;
}
div input{
    width: 67%;
    padding: 10px;
    border: 1px solid #8A8A89;
    border-radius: 10px;
    margin-left: 25px;
    margin-bottom: 1.5rem;
}
.sign{
    padding-left: 120px;
}
.div{
    display: flex;
}
.div p{
    width: 30%;
    color: #927777;
    border: 1px;
}
a{
    text-decoration: none;
    color: gray;
}