*{
  padding: 0;
  margin: 0;
  
}
body{
  width: 100%;
  height:100%;
}
.main{
  position: relative;
  display: flex;
  align-items: center;
  
}
header  img{
  position: absolute;
  top: -35px;
  left: 25px;
}
.icon{
  position: absolute;
  top: 40px;
  left: 75rem;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
nav{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
nav a{
  color: black;
  text-decoration: none;
  margin-top: 40px;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: 700;
}
nav a:hover{
  color:  rgb(167, 76, 139);
}

.contact{
  width:100%;
  margin-top: -25px;
  height:520px;
  background-color: rgb(202, 176, 194);
}
h3,p{
  text-align: center;
}
h3{padding-top: 10px;
  font-weight: 700;
  font-size: 40px;
  color:rgb(129, 107, 122);
  font-family: sans-serif;
}
p{
  font-weight: 300;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.flex-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}
label{
  display: block;
}
button{display: block;
  width:12%;
  height:38px;
  margin:18px auto;
  background-color: rgba(82, 17, 65, 0.884);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}
.form-container{
  width:400px;
  height: 200px;
  margin-right: 10px;

}
textarea{
  background-color:rgb(247, 241, 245);
  border-radius: 7px;
  padding:15px 15px;
}
input{
  width:97%;
  height: 50px;
  margin-bottom:20px;
  border: 2px solid;
  border-radius: 7px;
  padding-left: 10px;
  color: rgba(82, 17, 65, 0.884);

}
.image{
  display: flex;
  width: 200px;
  margin:15px auto;
}
img{
  margin-left: 7px;
}
footer{
  width:100%;
  background-color: #EFEFEE;
  color: #678398;
  height: 220px;
  
  margin-top: -18px;
}
.footer-content{
  height: 200px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 50px;
}
.first{
  margin-left: 4rem;
  padding-top: 50px;
}
.first img{
  position: absolute;
  top: 25px;
  left: 35px;
}
footer a{
  text-decoration: none;
  color: #678398;
}

.second{
  margin-left: 15rem;
}
.third{
  margin-left: 10rem;
  margin-right: 10rem;
}
.second h4, .third h4, .last h4{
  margin-bottom: 10px;
  color: #000000;
}
.icons{
  display: flex;
  gap: 10px;
  padding-top: 15px;
}
.icons i{
  font-size: 20px;
}
#close{
  display: none;}
